body {
	background-image: url("images/background_image.png");
}

#logboat_scene {
	margin-top: 25px;
	margin-left: 130px;
	width: 1000px;
	height: 600px
}

.social-icon {
	height: 48px;
 	width: 45px;
 	margin-right: 25px;
}

#socialMedia {
	float: left;
	margin-left: 130px;
	margin-top: 50px;
}

#loginForm {
	margin-left: 10px;
	float: left;
	margin-top: 50px;
}

#logboatLogo {
	float: left;
	margin-left: 135px;
	margin-right: 100px;
}